:root {
    --bg-color: #f4f5f4;
    --color-darkgreen: #1d4c56;
    --color-lightgreen: #45bc97;
    --color-badge: #96b099;
    --color-brown: #b4ab48;
    --color-darkbrown: #88600e;
    --color-lightbrown: #d1d092;
    --color-subheading: #08090acc;
    --color-blue: #3a88c8;
    --color-lightpink: #bca794;
    --color-black: #000;

    --text-white: #f4f5f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-family: "Inter", sans-serif;
}

body {
    background-image: url("./assets/bg-light.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    /* background-position: center; */
}

header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10px;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(10px);

    /* border: 2px solid black; */
}

.navBar {
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;


    /* border: 2px dashed black; */
}

.navLogo img {
    width: 100px;
    height: 24px;
}

.navBar ul {
    list-style: none;
    color: var(--text-white);
}

.navLinks {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    /* border: 2px dashed black; */
}

.navBtn {
    /* border: 2px dashed black; */
    gap: 20px;
}

.contactBtn,
.freeBtn {
    all: unset;

    width: 120px;
    height: 30px;

    text-align: center;
    align-items: center;

    border-radius: 20px;
    /* border: 2px dashed; */
}

.contactBtn {
    color: var(--text-white);
    background-color: rgba(244, 244, 244, 0.104);

    /* border: 0.5px solid white; */
}


.freeBtn {
    color: var(--color-black);
    background-color: var(--bg-color);
}


#heroSection {
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    /* border: 2px dashed white; */
}

.badgeCont {
    margin: 5px;
    padding: 15px;

    /* box-sizing: border-box; */

    /* width: 360px; */
    height: 30px;

    color: var(--text-white);
    background-color: #0c4763;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    gap: 1.5rem;

    /* border: 2px dashed black; */
    border-radius: 20px;

}

.badgeNew {

    /* margin: 2px; */
    padding: 5px;

    width: 40px;
    height: 20px;

    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0C8C5E;

    /* border: 2px solid white; */
    border-radius: 20px;
}

.badgeMain {
    font-size: 15px;
    font-weight: bold;
    white-space: noWrap;
}

.MainHeadline {
    margin-top: 40px;

    color: var(--text-white);

    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
}

.heroDesc {
    margin-top: 20px;
    font-size: 1.2rem;
    letter-spacing: 2px;

    color: var(--text-white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heroEmail {
    margin-top: 25px;
    padding: 5px 10px 5px 10px;

    width: 360px;

    display: flex;
    justify-content: space-between;

    background-color: transparent;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(10px);

    border: 0.5px solid var(--color-lightgreen);
    border-radius: 25px;
}

.heroEmail input,
button {
    all: unset;
}

.heroEmail input {
    color: white;
}

.heroEmail button {
    padding: 5px 10px 5px 10px;
    color: var(--color-black);
    background-color: var(--bg-color);
    border: 2px dashed white;
    border-radius: 20px;
}

.largeIllus {
    margin-top: 100px;

    width: 1080px;
    height: 650px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.largeIllus img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 10px;
}

#trustedSection {
    margin-top: 8%;

    height: 300px;

    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

}

.cardRows {

    /* height: 150px; */

    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px dashed black; */
}

.trustedCard {
    width: 250px;
    height: 60px;


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 2px dashed black; */
}

.trustedCard img {
    width: 120px;
    height: 26px;
}

#featHigh {
    margin-top: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* border: 2px solid black; */
}

.featInfo {
    /* height: 200px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    /* border: 2px dashed black; */
}

.featHead {
    font-size: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featDesc {
    font-size: 1.2rem;

    color: #393A54;

    line-height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* .featCardComp {
    border: 2px dashed black;

} */

.featCardRow {
    margin-top: 50px;

    display: flex;
    justify-content: center;
    gap: 35px;

    /* border: 2px dashed black; */
}

.featCard {
    padding: 20px;

    width: 500px;
    height: 530px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    /* justify-content: space-between; */

    border: 1px solid #393A54;
    border-radius: 10px;
}

.featCardInfo {

    padding: 10px;

    width: 480px;
    height: 200px;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;

    /* border: 2px dashed black; */
}

.featCardSubHead {
    font-size: 15px;
    color: #628C5E;
}

.featCardMainHead {
    font-size: 1.5rem;
    text-wrap: nowrap;
    font-weight: 400;
}

.featCardDesc {
    color: #393A54;
    line-height: 20px;
}

.featCardVideo {
    padding: 20px;

    width: 480px;
    height: 320px;

    /* border: 2px dashed black; */
}

.featCardVideo video {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

#intelSection {
    margin-top: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 2px solid black;
}

.intelCard {

    border: 1px solid #393A54;
    border-radius: 10px;
}

.intelInfo {
    padding: 5px;

    height: 225px;

    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.intelSubHead {
    font-size: 15px;
    font-weight: 400;
    color: #628C5E;
}

.intelHead {
    font-size: 1.5rem;
    text-wrap: nowrap;
    font-weight: 400;
}

.intelDesc {
    color: #393A54;
    line-height: 20px;
}

.intelVideo {
    width: 1035px;
    height: 445px;
}

.intelVideo video {
    width: 90%;
    height: 90%;
    object-fit: cover;
}